{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="text-zinc-500 snap-center">

    <div class="flex flex-col justify-center items-center">
        <div class="flex justify-center items-center text-center">
            <div class="space-y-5">
                <div class="mt-5">
                    <h2 class="text-3xl text-[#F7AB0A]/50">{{ new.title }}</h2>
                    <h3 class="text-2xl mt-2">{{ new.subtitle }}</h3>
                    <p class="flex justify-end text-[12px] mr-6 md:mr-0">{{ new.created_at }}</p>
                </div>
                <img 
                    src="{{ new.thumbnail.url }}" 
                    alt="{{ new.title }}"
                    class="w-56 mx-auto rounded-lg"
                >
                </div>
        </div>

        <div class="w-80 md:w-[42rem] mt-8 text-base text-center">
            <p>{{ new.first_description }}</p>
        </div>

        <div class="w-80 md:w-[42rem] mt-10 text-center">
            <p class="font-bold text-xl text-[#F7AB0A]/50 mt-1 mb-4">" {{ new.testimonial }} "</p>
            <span> -- {{ new.testimonial_by }} -- </span>
        </div>

        <div class="w-80 md:w-[42rem] mt-8 text-base text-center">
            <p>{{ new.second_description }}</p>
        </div>
    </div>
</section>
{% endblock %}
