{% extends "base.html" %}

{% load static %}

{% block content %}
    <section class="text-zinc-500 snap-center">

        <h1 class="text-[#F7AB0A]/50 font-bold text-center mt-5">PRIVACY POLICY</h1>

        <div class="flex flex-col justify-center items-center space-y-2 mt-4">
            <h2 class="text-xl">
                Privacy Policy for <a href="/">Elenion</a> Metal Band Website
            </h2>
            <p class="max-w-xl text-sm">
                At Elenion, we are committed to protecting the privacy and 
                confidentiality of our website visitors' personal information. 
                This Privacy Policy outlines the types of information we collect, 
                how we use it, and the measures we take to safeguard it.
            </p>
        </div>
    </section>

{% endblock %}